<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form id="login_form" method="POST" action="/users">
        <label>ID : </label>
        <input name="userid" type="text"/><br>
        <label>Password : </label>
        <input name="passwd" type="password"/><br>
        <button id="login_btn" type="submit">submit</button>
     </form>
  </body>
</html>
